<nav>
    
    <a href="/">Home</a>
                                 &nbsp;|&nbsp;
   <a href="/list">Users List</a>

                                 &nbsp;|&nbsp;
    <a href="/listProducts">Products List</a>
    </nav>
                            
